/*Удаление полей по умолчанию*/
body, h1,h2,h3,h4,p,figure,blockquote, dl,dd, input{
    font-family: sans-serif;
}

/*Информационная карточка под шапкой*/
.Information-card{
    background-color: rgb(225, 225, 225);
    padding: 10mm;
    position: 0cm;
    width: 100%;
    
}
/*Объщий блок для фильтров*/
.Filter {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    border: 0cm;
    padding: 1.4em 6em;
    overflow: hidden
    flex-direction: row
}

/*Выпадающий, список регионов*/
.Filter__Regions{
    padding: 2px 5px;
    order: 1;
    flex-basis: 33%;
}
/*Настройка для выбора*/
select{
    border-radius: 10%; 
    size: 32px;
    width: 39em; 
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    font-size: 14px;
}
select:required:invalid{
    color: rgb(0, 0, 0);
}
option[value=""][disabled]{
    display: none;
}

/*календарь, поступления заявки*/
.Filter__Post-date{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    border: 0cm;
    order: 4;
}
/*Строка, именоваяия оъбекта*/
.Filter__Applicant{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 2;
    flex-basis: 10em;
    width: 40em;
}
/*Строка, заявителя*/
.Filter__Description-object{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    flex-basis: 200px;
    order: 3;
    flex-basis: 20%;
    width: 40em;
}
input[onfocus="(this.type='text')"]{
    color: rgb(0, 0, 0); 
    background-color: #ec4300; 
    border: 0cm;
}
input[type=text]{    
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%; 
    width: 30em; 
}
input[type=date]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;
    width: 20em;  
}
input[type=submit]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;
    width: 15em; 
}
input[onfocus="(this.type='date')"]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;  
    width: 20em; 
}
/*Календарь, начала использования оъбекта пареметры*/
.Filter__start-date{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 4;
    flex-wrap: wrap;
}
/*Строка, номер заявителя*/
.Filter__Application-number{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 6;
    flex-wrap: wrap;
}
/*Кнопка, отправить данные*/
.Filter__Apply{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 7;
    flex-wrap: wrap;
}
/*Кнопка, очистить данные*/
.Filter__Clearing{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 8;
    flex-wrap: wrap;
}

.Applications{
    padding: 30px 90px;;
}

.Applications__Regions{
    color: #000;
}
table{
    border: 1px color(rgb122, 122, 122);
}
th {
    color: rgb(175, 175, 175); 
    background-color: rgb(243, 243, 243);
    border: 0px;
}
td{
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);
}
