/*Удаление полей по умолчанию*/
body, h1,h2,h3,h4,p,figure,blockquote, dl,dd, input{
    font-family: sans-serif;
    height: 100%;
    margin:0%;
}

/*Информационная карточка под шапкой*/
.Information-card{
    background-color: rgb(225, 225, 225);
    padding: 2%;
    position: 0%;
    width: 100%;
    
}
/*Объщий блок для фильтров*/
.Filter {
    margin: 0.5%;
    padding: 0.2% 0.4%;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    border: 0cm;
    padding: 1.4em 6em;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
}

/*Выпадающий, список регионов*/
.Filter__Regions{
    padding: 0.2% 0.4%;;
    order: 1;
    flex-basis: 33%;
}
/*Настройка для выбора*/
select{
    border-radius: 10%; 
    size: 2em;
    width: 100%; 
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    font-size: 1em;
}
select:required:invalid{
    color: rgb(0, 0, 0);
}
option[value=""][disabled]{
    display: none;
}

/*календарь, поступления заявки*/
.Filter__Post-date{
    font-size: 32px;
    padding: 0.2% 0.4%;
    border-radius: 15%;
    border: 0cm;
    order: 4;
}
/*Строка, именоваяия оъбекта*/
.Filter__Applicant{
    font-size: 32px;
    padding: 0.2% 0.4%;
    border-radius: 15%;
    order: 2;
}
/*Строка, заявителя*/
.Filter__Description-object{
    font-size: 3em;
    padding: 0.2% 0.4%;
    border-radius: 15%;
    order: 3;
    flex-basis: 31%;
}
input[onfocus="(this.type='text')"]{
    color: rgb(0, 0, 0); 
    background-color: #ec4300; 
    border: 0cm;
}
input[type=text]{    
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%; 
    width: 150%; 
}
input[type=date]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;
    width: 100%;
}
input[type=submit]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;
    width: 100%;
}
input[onfocus="(this.type='date')"]{
    height: 3em;
    background-color: rgb(243, 243, 243);
    border: 0cm;
    border-radius: 10%;  
    width: 150%; 
}
/*Календарь, начала использования оъбекта пареметры*/
.Filter__start-date{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 4;
    flex-wrap: wrap;
}
/*Строка, номер заявителя*/
.Filter__Application-number{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 6;
    flex-wrap: wrap;
}
/*Кнопка, отправить данные*/
.Filter__Apply{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 7;
    flex-wrap: wrap;
}
/*Кнопка, очистить данные*/
.Filter__Clearing{
    font-size: 32px;
    padding: 2px 5px;
    border-radius: 15%;
    order: 8;
    flex-wrap: wrap;
}

.Applications{
    padding: 30px 90px;;
}

.Applications__Regions{
    color: #000;
}
table{
    border: 1px color(rgb122, 122, 122);
}
th td{
    font-family: Times New Roman, Times, serif;
}
th {
    color: rgb(175, 175, 175); 
    background-color: rgb(243, 243, 243);
    border: 0px;
}
td{
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);

}
tr:hover td{
    background-color: rgb(175, 175, 175);
}


@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .Filter{ flex-direction:column;}
    .input[type=text]{width: 90%;}
    .input[type=date]{width: 90vh;}
    .input[type=submit]{width: 90%;}
    .input[onfocus="(this.type='date')"]{width: 90%;}
}
